@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body {

    background-color: #E5E5E5;
}
/* 
.sr-only {
	display:block;
	overflow:hidden;
	Font-size:1px;
	line-height:0;
	text-indent:-9999px;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    background: #fff;
}

.border-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid black;
    width: 350px;
    height: 140px;
    border-radius: 5px;
    border-color: #DBDBDB;
}

.container p {
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 16px;

}

.container .btn-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 16px;
    width: 318px;
    height: 40px;
    border-radius: 4px;
    background: #711BFF;
    padding: 0;
    border: none;
}

.container .btn-login p {
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;;
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin-left: 7px;
    margin-top: 13px;
}

.container .btn-login img {

    height: 18px;
    /* margin-left: 116px; */
    margin-top: 10px;
}

.bottom_object {
    display:flex;
    flex-direction: row;
    height: 20px;
    width: 340px;
    margin-bottom: 16px;
}

.bottom_left {
    margin: 16px 0px 0px 16px;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.bottom_left img {

    width: 16px;
    height: 16px;
}

.btn-word {
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: black;
}

.bottom_left .btn-id {
    margin-left: 6px;
}

.bottom_left .btn-password {
    margin-left: 3px;
}

.bottom_left .btn-id::after {
 
    display: inline-block;
    content: '';
    width: 2px;
    height: 2px;
    background: black;
    border-radius: 20px;
    /* 상하 정렬을 조정해줍니다. 오직 inline, inline-block 요소에서만 작동합니다. */
    vertical-align: 3px;
    margin-left: 4px;
}

.bottom_right {

    margin-top: 16px;
    margin-left: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    
}

.bottom_right img {
    width: 15px;
    height: 15px;
}

.btn-signin {
    margin-left: 6px;
}