body {

    background-color: #E5E5E5;
}
/* 
.sr-only {
	display:block;
	overflow:hidden;
	Font-size:1px;
	line-height:0;
	text-indent:-9999px;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.border-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 3px solid black;
    text-align: center;
}